* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tab-container {
  padding: 1.5rem;
}

.img-tabs{
  width: 100%;
  max-width: 320px;
  min-height: 280px;
  height: 100%;
  object-fit: cover;
}

.tab {
  width: 100%;
  height: auto;
  background: #e9e8e8;
  /* margin: 8rem auto 0; */
  border-style: solid;
  /* margin-left: 8.7rem; */
  border-radius: 1rem;
  /* margin-bottom: 5rem; */
  padding-top: 1rem;
}

.tab span {
  color: black;
  margin-left: 1.9rem;
  margin-top: 0.8rem;
}
.baseTab {
  border-left: 0.1px;
  cursor: pointer;
  border-radius: 1rem;
  border-style: solid;
  margin-left: 1rem;
  margin-right: 1rem;
}

.baseTab:hover {
  background-color: #2e2eff !important;
  color: rgb(0, 0, 0) !important;
}

.activeTab {
  background-color: #5ea4ff !important;
  color: rgb(0, 0, 0) !important;
}

.activeTab .container {
  border-style: solid;
}

img {
  border-style: solid;
  margin: 0.3rem;
}

.tab .nav {
  flex-direction: column;
}

@media (min-width: 992px) {
  .tab .nav {
    flex-direction: row;
  }
  .baseTab {
    margin-left: 2.7rem;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 600px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
